* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

body {
    background-color: linear-gradient(to bottom,#12071f,#2f204e);
    color: white;
    font-family: 'Inter', sans-serif;
}

/* 消除下划线和蓝色效果 */
a { 
    text-decoration: none;
    color:white;
}

.container{
    width: 100%;
    padding-left:128px;
    padding-right:128px;
    margin-left:auto;
    margin-right:auto;
    background-color:rebeccapurple;   
}

section{
    scroll-snap-align: center;
    height:100vh;
}

/* 响应式容器padding */
@media (max-width: 1536px){
    .container{
        padding-left: 96px;
        padding-right: 96px;
    }
}

@media (max-width: 1268px){
    .container{
        padding-left: 64px;
        padding-right: 64px;
    }
}

@media (max-width: 1068px){
    .container{
        padding-left: 48px;
        padding-right: 48px;
    }
}

@media (max-width: 998px){
    .container{
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media (max-width: 768px){
    .container{
        padding-left: 24px;
        padding-right: 24px;
    }
    
    section{
        height: auto;
        min-height: 100vh;
    }
}

@media (max-width: 480px){
    .container{
        padding-left: 16px;
        padding-right: 16px;
    }
}
